div {
    margin: auto;
    padding: auto;
    padding: 20px;
}

h1, h2 {
    color: #ddd;
    text-align: center;
    margin-top: 100px;
}

a {
    color: #9eb2ad;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: #3c4840;
    color: wheat;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
}